<div class="mocLayer" id="mocLayer_<%=layer.ID%>">
    <% if( display )
    {
    %>
    <input class="display" id="display_<%=layer.ID%>" type="checkbox"/><label
        for="display_<%=layer.ID%>">Display</label>
    <%
    }
    else
    {
    %>
    <input id="mocCheck_<%=layer.ID%>" type="checkbox"/><label for="mocCheck_<%=layer.ID%>">Check</label>
    <%
    }
    %>
    <span class="mocName"><%=layer.name%></span>
    <span class="mocStatus"><% if ( layer.coverage == "Not available" ) print("(Not found)");%> </span>
    <span class="mocCoverage">Sky coverage: <%=layer.coverage%></span>
    <br/>
</div>
