<form class="osForm" id="openSearchForm_<%= layer.id %>">
    <table>
    <tr>
    <%
    var finalScript = "";
    for(var i=0; i<layer.formDescription.parameters.length; i++)
    {
    var parameter = layer.formDescription.parameters[i];
    %>
    <td><label <%= parameter.titleAttribute %> for="<%= parameter.name %>"><%= parameter.name %></label></td>
    <td>
    <%
    // Options parameter
    // ==================
    if (parameter.type === "options")
      {
    %>
      <select name="p_<%= parameter.name %>" id="p_<%= parameter.name %>">
        <option value="">None</option>
        <%
        for(var j=0; j<parameter.options.length; j++)
        {
        %>
        <option <% if ( parameter.options[j] === parameter.currentValue ){ %>selected <%}%> value="<%= parameter.options[j] %>"><%= parameter.options[j] %></option>
        <%
        }
        %>
        </select>
        <%
      } else if (parameter.type === "number") {
        %>
        <input size="8" type="text" id="p_<%= parameter.name %>" <%= parameter.titleAttribute %> <%= parameter.patternAttribute %> name="<%= parameter.name %>" value="<%= parameter.currentValue %>">
        <%
      } else if (parameter.type === "datetime") {
        %>
        <input type="text" id="p_<%= parameter.name %>" <%= parameter.titleAttribute %> <%= parameter.patternAttribute %> class="datetimepicker">
        <%
        finalScript += "$(\"#p_"+parameter.name+"\" ).datetimepicker({yearOffset:222,lang:'ch',timepicker:false,format:'d/m/Y',formatDate:'Y/m/d',minDate:'-1970/01/02',maxDate:'+1970/01/02'});";
      } else {
    %>
      <input size="16" type="text" id="p_<%= parameter.name %>" <%= parameter.titleAttribute %> <%= parameter.patternAttribute %> name="<%= parameter.name %>" value="<%= parameter.currentValue %>">
    <%
      }
      %>
      </td>
      <% if (i % 2 ===0) {
      %>
      </tr><tr>
      <%
      }
      %>

    <%
    }
    %>
      </tr>
    </table>

    <input onclick="document.currentOpenSearchLayer.submit()" class="submit" type="button" id="submit" value="Save parameters"/>
    <script>
    function apply() {
      var res = [];
      <%
      for(var i=0; i<layer.formDescription.parameters.length; i++) {
      %>
        var p_<%= layer.formDescription.parameters[i].name %> = $("#p_<%= layer.formDescription.parameters[i].name %>");
        //console.log("test <%= layer.formDescription.parameters[i].name %>",p_<%= layer.formDescription.parameters[i].name %>);
        if (typeof p_<%= layer.formDescription.parameters[i].name %>.length === 'number') {
          if (p_<%= layer.formDescription.parameters[i].name %>.length>0) {
            if ((typeof p_<%= layer.formDescription.parameters[i].name %>[0].value !== 'undefined') && (p_<%= layer.formDescription.parameters[i].name %>[0].value.length>0)) {
              res["<%= layer.formDescription.parameters[i].name %>"] = p_<%= layer.formDescription.parameters[i].name %>[0].value;
            }
          }
        }
      <%
      }
      %>
    }

    $( function() {
    //<%= finalScript %>
    } );
  </script>
</form>
