<form class="osForm" id="openSearchForm_<%= layer.id %>">
    <table>
    <tr>
    <%
    cpt = -1;
    for(var i=0; i<layer.getServices().queryForm.parameters.length; i++)
    {
    var parameter = layer.getServices().queryForm.parameters[i];
    if (parameter.isDisplayed === true) {
      cpt++;
    %>
    <td><label <%= parameter.titleAttribute %> for="<%= parameter.name %>"><%= parameter.name %></label></td>
    <td>
    <%
    // Options parameter
    // ==================
    if (parameter.type === "options")
    {
    %>
      <select name="p_<%= parameter.name %>" id="p_<%= parameter.name %>">
        <option value="">None</option>
        <%
        for(var j=0; j<parameter.options.length; j++)
        {
        %>
        <option <% if ( parameter.options[j] === parameter.currentValue ){ %>selected <%}%> value="<%= parameter.options[j] %>"><%= parameter.options[j] %></option>
        <%
        }
        %>
        </select>
        <%
      } else if (parameter.type === "datetime") {
        %>
        <input type="text" id="p_<%= parameter.name %>" <%= parameter.titleAttribute %> <%= parameter.patternAttribute %> class="datetimepicker" value="<%= parameter.currentValue %>" autocomplete="off"></input>
        <%
      } else if (parameter.type === "number") {
        %>
        <input size="8" type="text" id="p_<%= parameter.name %>" <%= parameter.titleAttribute %> <%= parameter.patternAttribute %> name="<%= parameter.name %>" value="<%= parameter.currentValue %>">
        <%
      } else {
    %>
      <input size="16" type="text" id="p_<%= parameter.name %>" <%= parameter.titleAttribute %> <%= parameter.patternAttribute %> name="<%= parameter.name %>" value="<%= parameter.currentValue %>">
    <%
      } 
      %>
      </td>
      <% if (cpt % 2 ===0) {
      %>
      </tr><tr>
      <%
      }
     } else {
      %>
      <input size="16" type="hidden" id="p_<%= parameter.name %>" value="<%= parameter.currentValue %>">
      <%
      }
    }
    %>
      </tr>
    </table>
    <button class="submitFormParams" id="submitFormParams">Save parameters</button>
  </form>
